<div class="container">
    <h1>{{ pageTitle }}</h1>

    <div class="row">
        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ this.imageUrl }}" class="card-img-top" alt="{{ this.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ this.name }}</h5>
                    <p class="card-text">Precio: ${{ this.price }}</p>
                    <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al
                        Carrito</button>
                    <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del
                        Carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>